{
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    "babel-plugin-optimize-clsx"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "usage",
        "debug": true,
        "corejs": 3
      }
    ],
    "@babel/preset-react"
  ]
}
