# Auto-detect text files
* text=auto

# Always treat these as LF
gradlew text eol=lf
*.sh text eol=lf

# Always treat these as CRLF
*.bat text eol=crlf

# Exclude jOOQ generated code from diffs
/src/main/jooq/** -diff

# Exclude package-lock.json from diffs
/frontend/package-lock.json -diff
